@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype'); 
    font-weight: normal;
}





:root{
    --cor0: #39944C;
    --cor1: #6516E0;
    --cor2: #00E031;
    --cor3: #E08516;
    --cor4: #945507;

     --fonte-padrao: arial, Verdana, Helvetica, sans-serif;
     --fonte-destaque: 'Bebas Neue', 'cursive';
    --font-android: 'android', 'cursive';
    }

body{background-color: #c6ebd6;
     font-family:var(--fonte-padrao) ;
}



header>h1{color: white;
font-family: var(--fonte-destaque);}

main>h1{color: var(--cor1);
font-family: var(--font-android);}

header{background-color: var(--cor3);}